.errorMsg {
    margin-top: 0;
    color: tomato;
  }
  
  .errorInput {
    border-color: tomato;
    background-color: rgb(255, 208, 199);
  }
  
  .successMessage {
    background-color: rgba(255, 255, 255, 0.994);
    border-radius: 10px;
    box-shadow: 2px 6px 18px lightgray;
    left: 50%;
    padding: 20px;
    position: absolute;
    top: 30%;
    transform: translate(-50%, -50%);
}
  .grid{
    display: flex;
    
  }