.errorMsg {
    margin-top: 0;
    color: tomato;
  }
  
  .errorInput {
    border-color: tomato;
    background-color: rgb(255, 208, 199);
  }
  .errorInput::placeholder{
    color: rgb(225, 9, 9);
  }