* {
  box-sizing: border-box;
}
:root {
  --main-color: #f1ba2f;
}
body {
  margin: 0;
  height: 100vh;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva,
    Verdana, sans-serif;
    background: linear-gradient(135deg, #b3f39b, #f3af67);

    color: #de7402;
}
a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
}
.nav-link {
  font-weight: bold;
  letter-spacing: 1px;
    display: inline-block;
    padding: 1em 1.7em;
    background-color: rgb(255, 255, 255);
    color: var(--main-color);
  }
  .nav-link.active {
    background-color: var(--main-color);
    color: snow;
  } 
  button{
    background-color: var(--main-color);
    color: white;
    margin-bottom: 15px;
    margin-top: 10px;
    border: navajowhite;
    padding: 10px 30px;
    border-radius: 5px;
    font-weight: bold;
    letter-spacing: 1px;
  }
  input, textarea {
    margin: 20px;
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
    width: 70%;
  }
  label{
    margin: 20px;
    padding: 8px 16px;
    letter-spacing: 1px;
font-weight: bold;
  }
  input::placeholder{
    font-weight: bold;
    color: rgb(214, 208, 208);
  }

  .formContainer{
    background-color: rgba(255, 255, 255, 0.63);
    max-width: 500px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
  }

  .postContainer{
    background-color: rgba(255, 255, 255, 0.63);
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
  }
  h1 {
    text-align: center;
  }